* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.d-flex{
  display: flex;
}

.container{
  margin: 0 auto;
  max-width: 1450px;
  width: 99%;
  flex-wrap: wrap;
}

.debug{
  border: 1px dashed black;
}

/* header */

header{
  justify-content: center;
  background-color: #ff6900;
  height: 80px;
}

header .container{
  justify-content: space-between;
  align-items: center;
  height: 100%; 
}


.logo img{
  width: 150px;
  height: 40px;
}

/* main */

.container .product{
  position: relative;
  margin: 40px auto;
}

.product img{
  position: relative;
  width: 465px;
  height: 670px;
}